
body {
    font-family: Arial;
    margin: 40px;
    background-color: black;
}

li {
    margin: 8px 0;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

button {
    margin-left: 10px;
}
